@import "mapas.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px)and(max-width: 1028px)";

.marginBottom8{
    margin-bottom: 8px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    background-color: #colors[backgroundcolor];
    color: #colors[textColor];
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
        @media @breakpointMobile {
            max-width: 70%;
            
        @media @breakpointTablet {
            max-width: 80%;
            background-color: aqua;
        }

    }
    nav{
        ul{
            li{
                a{
                    img{
                        
                    }
                }
            }
        }
    }
}

header{
    padding: 24px;
    
        .profile-avatar{
            display: block;
            margin: 0 auto 24px;
            border-radius: 50%;

        }
}

.profile-bio{
    text-align: center;
    &-name{
        font-size: 16px;
        .marginBottom8();
    }

    &-subtitle{
        font-size: 14px;
        .marginBottom8();

    }

        &-description{
            font-size: 14px;
            opacity: 0.7;
        }

}

li{
    list-style: none;
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    li{
        
        img{
            transition: all ease .3;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}

.projects-list{
    &-item{
        margin:  20px auto;
        padding: 16px 20px;
        background-color: #colors[buttonColor];
        border-radius: 25%;
        a{
            text-decoration: none ;
            background-color: #colors[buttonColor];
            display: block;
            text-align: center;
        }
    }
    
}


